body {
  font-family: system-ui;
  background: #f06d06;
  text-align: center;
}
.vertical-bar{
  
}
table {
  align:center;
  height:36vmax;
  width: 36vmax;
  border-collapse: collapse;
}
.grid-square {
  background-color : white;
  height: 10vmax;
  width:10vmax;
}
.right{
  border-right: 0.6em solid black;
}
.left{
  border-left: 0.6em solid black;
}
.top{
  border-top: 0.6em solid black;
}
.bottom{
  border-bottom: 0.6em solid black;
}
#gomsg {
  font-size: 20px
}